.form__header {
	padding: 130px 0 0;

	@media screen and (max-width: $md) {
		padding-top: 20px;
	}
}

.form__text {
	padding-left: 116px;
	max-width: 796px;

	@media screen and (max-width: $xl) {
		padding-left: 0;
	}

}

.form__group {
	position: relative;
	padding: 50px 0;
	padding-left: 216px;

	@media screen and (max-width: $md) {
		padding-left: 0;
	}

	&--dark {
		background: $seashell;

		@media screen and (max-width: $md) {
			background: $white;
		}
	}

	&--checkbox {
		padding-bottom: 26px;
	}

	&--text {
		padding-left: 116px;

		@media screen and (max-width: $xl) {
			padding-left: 166px;
		}

		@media screen and (max-width: $md) {
			padding-left: 0;
		}
	}
}

.form__title {
	position: absolute;
	top: 74px;
	left: 112px;
	font-weight: bold;
	text-transform: uppercase;
	color: $accent;

	@media screen and (max-width: $md) {
		position: relative;
		top: 0;
		left: 0;
		margin-bottom: 28px;
		overflow: hidden;
	}

	&--text {
		left: 14px;

		@media screen and (max-width: $xl) {
			left: 68px;
		}

		@media screen and (max-width: $md) {
			left: 0;
		}
	}

	&::before {
		@media screen and (max-width: $md) {
			content: '';
			position: absolute;
			top: 50%;
			left: 60px;
			width: 100%;
			height: 1px;
			background: $accent;
		}
	}
}

.form__type-label {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 26px;
	padding-left: 80px;
	height: 52px;
	font-size: 19px;
	font-weight: bold;
	color: $black;
	cursor: pointer;

	&:hover::before {
		border-color: $accent;
	}

	&:active::before {
		border-color: $gallery;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 52px;
		height: 52px;
		border: 2px solid $tundora;
		border-radius: 50%;
		transition: all .4s ease;
	}
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"]:checked + label::after {
	content: '';
	position: absolute;
	top: 17px;
	left: 17px;
	width: 22px;
	height: 22px;
	background: $accent;
	border-radius: 50%;
}

.form__type-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	@media screen and (max-width: $xl) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: $md) {
		display: block;
	}
}

.checkbox__label {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
	padding-left: 80px;
	height: 52px;
	font-size: 19px;
	font-weight: bold;
	color: $black;
	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 50px;
		height: 48px;
		border: 2px solid $tundora;
		transition: all .4s ease;
	}

	&:hover::before {
		border-color: $accent;
	}

	&:active::before {
		border-color: $silver;
	}

}

input[type="checkbox"]:checked + label::after {
	content: '';
	position: absolute;
	top: 15px;
	left: 10px;
	width: 33px;
	height: 22px;
	background: url("../i/checked.svg") no-repeat center;
}

.form__text-group {
	display: flex;
	justify-content: flex-start;
	position: relative;
	top: 17px;
	margin-bottom: 40px;

	@media screen and (max-width: $md) {
		display: block;
	}
}

.form__text-label {
	position: relative;
	top: 7px;
	margin-right: 25px;
	font-size: 19px;
	font-weight: bold;
	color: $black;

	@media screen and (max-width: $md) {
		display: block;
		margin-bottom: 10px;
	}
}

.form__text-input {
	width: 100%;
	height: 50px;
	font-size: 19px;
	color: $tundora;
	line-height: 50px;
	text-indent: 18px;
	border: none;
	border-bottom: 2px solid $black;
}


input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="phone"]::-webkit-input-placeholder {
	font-size: 19px;
	color: $tundora;
	opacity: 0.3;
}
/* webkit */

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="phone"]::-moz-placeholder {
	font-size: 19px;
	color: $tundora;
	opacity: 0.3;
}
/* webkit */

input[type="text"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="phone"]:-moz-placeholder {
	font-size: 19px;
	color: $tundora;
	opacity: 0.3;
}
/* webkit */

input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="phone"]:-ms-input-placeholder {
	font-size: 19px;
	color: $tundora;
	opacity: 0.3;
}
