.reviews__wrapper {
	margin: 0 auto;
	padding: 80px 0;
	width: 1150px;
	background: $white url('../i/reviews-bg.jpg') no-repeat left top;

	@media screen and (max-width: $xl) {
		margin: 0;
		width: auto;
	}

	@media screen and (max-width: $md) {
		background: $white;
	}
}

.reviews {
	position: relative;

	.container {
		padding-left: 175px;

		@media screen and (max-width: $xl) {
			padding-left: 0;
		}
	}

	.slick-arrow {
		position: absolute;
		bottom: 0;
		right: 156px;
		width: 52px;
		height: 26px;
		font-size: 0;
		background: url('../i/slider-arrow.svg') no-repeat center;
		border: none;
		z-index: 1100;
		cursor: pointer;

		@media screen and (max-width: $md) {
			width: 130px;
			height: 50px;
			border: 1px solid $gallery;
			background-size: 40%;
		}
	}

	.slick-next {
		right: 70px;
		transform: rotate(180deg);

		@media screen and (max-width: $md) {
			right: 0;
		}
	}

	.slick-prev {
		@media screen and (max-width: $md) {
			right: 0;
			left: 0;
		}
	}
}

.reviews__item {
	@media screen and (max-width: $md) {
		padding-bottom: 65px;
	}
}

.reviews__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;
}

.reviews__button {
	width: 174px;

	@media screen and (max-width: $md) {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 260px;
	}
}

.reviews__text {
	margin-bottom: 50px;
	padding-right: 57px;
	font-size: 17px;
	line-height: 30px;

	@media screen and (max-width: $xl) {
		padding-right: 0;
	}
}

.reviews__author {
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
}

.reviews__address {
	font-size: 17px;
	line-height: 30px;
}


