.section-title {
	font-size: 53px;
	line-height: 57px;
	font-weight: bold;
	color: $black;

	@media screen and (max-width: $xl) {
		font-size: 43px;
		line-height: 50px;
	}

	@media screen and (max-width: $md) {
		font-size: 25px;
		line-height: 30px;
	}
}
