.stuff {
	position: relative;
	margin-bottom: 72px;
	background: $alabaster;

	@media screen and (max-width: $xl) {
		margin-bottom: 26px;
	}

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 16px;
		background: url("../i/stuff__buttons-bg.png") repeat-x center;

		@media screen and (max-width: $md) {
			background: none;
		}
	}
}

.stuff__content {
	position: relative;
	height: 590px;
	background: url("../i/stuff-bg.jpg") no-repeat center -14px;

	@media screen and (max-width: $xl) {
		height: 566px;
		background-position: center -34px;
	}

	@media screen and (max-width: $md) {
		height: 284px;
		background-image: url("../i/stuff-bg-mobile.jpg");
	}
}

.stuff__title {
	position: absolute;
	top: 116px;
	left: 50%;
	transform: translateX(-50%);
	width: 644px;
	font-size: 53px;
	line-height: 57px;
	font-weight: bold;
	text-align: center;
	color: $black;

	@media screen and (max-width: $xl) {
		width: 520px;
		font-size: 43px;
		line-height: 50px;
	}

	@media screen and (max-width: $md) {
		width: 260px;
		font-size: 27px;
		line-height: 30px;
	}
}

.stuff__buttons {
	position: relative;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	width: 1050px;

	@media screen and (max-width: $xl) {
		width: 668px;
	}

	@media screen and (max-width: $md) {
		display: block;
		width: 100%;
	}

}

.stuff__button {
	flex-grow: 1;
	border: none;

	@media screen and (max-width: $md) {
		display: block;
		width: 100%;
	}
}
