.footer
	.container
		.footer__logo
			img(src="assets/i/footer-logo.svg", alt="logo" width="108" height="40")

		.footer__socials.social-icons
			img.social-icons__item(src="assets/i/instagramm.svg" alt="instagramm" width="22" height="22")
			img.social-icons__item(src="assets/i/facebook.svg" alt="facebook" width="15" height="30")
			img.social-icons__item(src="assets/i/twitter.svg" alt="twitter" width="24" height="20")

		.footer__copy
			span.footer__developer Разработано
			img(src="assets/i/htmlacademy.svg", alt="htmlacademy" width="28" height="30")


