form.form
	header.form__header
		.container
			p.form__text Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.

	.form__group
		.form__title Тип
		.form__type-wrap
			.form__type
				input(id="radio1" type="radio", name="element" value="accesuar" checked)
				label.form__type-label(for="radio1") Аксессуар для интерьера

			.form__type
				input(id="radio2" type="radio", name="element" value="toy")
				label.form__type-label(for="radio2") Детская игрушка

	.form__group.form__group--dark.form__group--checkbox
		.form__title Цвет
		.form__type-grid
			.form__checkbox.checkbox
				input.checkbox__input(id="white" type="checkbox", name="white" value="white" checked)
				label.checkbox__label(for="white") Белый

			.form__checkbox.checkbox
				input.checkbox__input(id="gray" type="checkbox", name="gray" value="gray" checked)
				label.checkbox__label(for="gray") Серый

			.form__checkbox.checkbox
				input.checkbox__input(id="tiffany" type="checkbox", name="tiffany" value="tiffany")
				label.checkbox__label(for="tiffany") &laquo;Тиффани&raquo;

			.form__checkbox.checkbox
				input.checkbox__input(id="black" type="checkbox", name="black" value="black")
				label.checkbox__label(for="black") Черный

			.form__checkbox.checkbox
				input.checkbox__input(id="pink" type="checkbox", name="pink" value="pink")
				label.checkbox__label(for="pink") Розовый

			.form__checkbox.checkbox
				input.checkbox__input(id="orange" type="checkbox", name="orange" value="orange")
				label.checkbox__label(for="orange") Оранжевый

	.container
		.form__group.form__group--text
			.form__title.form__title--text Фио
			.form__type-wrap
				.form__text-group
					label.form__text-label(for="names") Имя:
					input.form__text-input(id="names" type="text", name="names" placeholder="Введите ваше имя*")

				.form__text-group
					label.form__text-label(for="surname") Фамилия:
					input.form__text-input(id="surname" type="text", name="surname" placeholder="Укажите фамилию*")

				.form__text-group
					label.form__text-label(for="lastname") Отчество:
					input.form__text-input(id="lastname" type="text", name="lastname" placeholder="Отчество, если желаете")
