.quick
	.container
		h2.quick__title Коротко о нас:

		.quick__content
			.quick__item
				img.quick__image(src="assets/i/quick-1 .svg", alt="quick" width="36" height="38")
				p.quick__text Экологически чистые материалы

			.quick__item
				img.quick__image(src="assets/i/quick-2.svg", alt="quick" width="36" height="36")
				p.quick__text Связано вручную с любовью и умилением

			.quick__item
				img.quick__image(src="assets/i/quick-3.svg", alt="quick" width="49" height="36")
				p.quick__text Скандинавский стиль по российской цене

			.quick__item
				img.quick__image(src="assets/i/quick-4.svg", alt="quick" width="60" height="42")
				p.quick__text Поддержка отечественного производителя

			.quick__item
				img.quick__image(src="assets/i/quick-5.svg", alt="quick" width="36" height="36")
				p.quick__text Увеличивает лайки на фотографиях

			.quick__item
				img.quick__image(src="assets/i/quick-6.svg", alt="quick" width="36" height="36")
				p.quick__text Поставляется в подарочной упаковке

