article.stuff
	.stuff__content
		h1.stuff__title Милые штуки ручной <br> работы для дома
	.stuff__buttons
		button.stuff__button.reflery-button
			h4.reflery-button__title Предметы интерьера
			svg.reflery-button__icon
		button.stuff__button.reflery-button
			h4.reflery-button__title Детские игрушки
			svg.reflery-button__icon


