article.stuff
	.stuff__content
		h1.stuff__title Милые штуки ручной <br> работы для дома
	.stuff__buttons
		button.stuff__button.reflery-button
			h4.reflery-button__title Предметы <br> интерьера
			svg.reflery-button__icon(width="40" height="66")
				use(xlink:href="#lamp")
		button.stuff__button.reflery-button.reflery-button--dark
			h4.reflery-button__title Детские <br> игрушки
			svg.reflery-button__icon(width="60" height="60")
				use(xlink:href="#toy")
