extends template

block title
	title Главная

block content
	.hidden
		//- include ../../../build/assets/i/svg/inline/sprite.svg

	.container-big
		.container
			p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed facilis aut, voluptas debitis eos ipsum temporibus cupiditate quibusdam consequuntur cum odio tempora, quia praesentium quis fuga, hic incidunt ipsam atque.


	include ../includes/ie-scripts
	include ../includes/scripts.pug
	script(src="assets/libs/slick/slick/slick.min.js")
	script(src="assets/js/main.min.js")

